// Layout

// Header

.header {
	align-items: stretch;
  background-color: var(--brand-primary);
	border-bottom: 4px solid rgba(var(--content-primary-rgb), 0.07);
  color: var(--brand-secondary);
	display: flex;
	flex-wrap: nowrap;
	height: 4rem;
  justify-content: space-between;
  margin-bottom: 2rem;
	padding: 0 1rem;
	
	@include breakpoint(md) {
		height: 5rem;
	}

	@include breakpoint(xl) {
		padding: 0 3rem;
	}
}

.skip-link {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap;
	opacity: 0;
	transition: opacity 0.2s linear;

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		position: fixed;
		top: 0.5rem;
		left: 0.5rem;
		right: 0.5rem;
		width: calc(100% - 1rem);
		height: auto;
		padding: 1em;
		margin: 0;
		overflow: visible;
		clip: auto;
		white-space: normal;
		background-color: $white;
		text-align: center;
		z-index: 1000;
		opacity: 1;
	}
}

.site-title {
  font-size: 1rem;
  font-weight: 600;
	align-self: center;
	flex: 0 1 auto;
	line-height: 1;
	margin-right: 1.5rem;

	@include breakpoint(sm) {
		font-size: 1.5rem;
	}
}

// <nav>
.nav-primary-container {
	display: flex;
	flex: 0 1 auto;
}

// <ul>
.nav-primary-list {
	display: flex;
	font-size: 1rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

// li
.nav-primary-item {
	align-items: stretch;
	display: flex;

	&:not(:last-child) {
		margin-right: 1.5rem;
	}

	&.is-current {

		a {
			box-shadow: 0 4px 0 0 var(--brand-secondary);
		}
	}

	a {
		border: none;
		color: var(--brand-secondary);
		display:flex;
	  flex-direction:column;
		font-weight: 500;
	  justify-content:space-around;
		text-decoration: none;
		transition: box-shadow 0.2s linear, color 0.2s linear;


		&:focus,
		&:hover {
			color: var(--content-primary);
			box-shadow: 0 4px 0 0 rgba(var(--brand-secondary-rgb),0.5);
		}
	}
}


// Main
.main {
  padding: 0 1rem 3rem;

  // Main uses tabindex="-1" to control focus from the skip link,
  // this ensures the ring is not visible.
  &:focus {
	  outline: none;
  }

  @include breakpoint(md) {
    margin: 0 auto;
    width: $measure;
  }
}
